@media only screen and (max-width: 1000px) {
  .media {
    position: absolute;
    left: 185px;
    gap: 2px;
  }

  .media ul li {
    font-size: 10px;
    font-weight: 700;
  }
  .landing {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: -100;
    top: 80px;
  }
}
@media only screen and (max-width: 615px) {
  .landing {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 40px;
    width: 90%;
  }

  .google_scan {
    position: absolute;
    top: 350px;
    right: 45px;
  }
  .landing img {
    position: absolute;
    width: 100%;
    right: 15px;
    top: 140px;
    object-fit: cover;
  }
  .landing h1{
    margin-left: 25px;
    font-size: 25px;
  }
  .img_scan {
    margin-top: 320px;
  }
}
@media only screen and (max-width: 320px) {
   
  .landing h1{
    margin-left: 15px;
    font-size: 20px;
  }

}

@media only screen and (max-width: 376px) {
   
  .google_scan {
    position: absolute;
    top: 350px;
    right: 36px;
   
  }
  .landing img {
    position: absolute;
    width: 100%;
    right: 14px;
    top: 140px;
    object-fit: cover;
  }

}
@media only screen and (max-width: 360px) {
   
  .google_scan {
    position: absolute;
    top: 350px;
    right: 25px;
   
  }
  .landing img {
    position: absolute;
    width: 100%;
    right: 10px;
    top: 140px;
    object-fit: cover;
  }

}


